table tr:last-child td {
	border-top-color: #b2b2b2;
	padding-bottom: 50px;
	padding-top: 50px;
}

table {
	margin-bottom: 80px;
}

table p {
	font-size: 1.34rem;
}

@media screen and (max-width: 1024px) {
	table {
		display: block;

	}

	table tbody {
		display: block;
	}

	table tr {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	table td {
		border: none;
		padding-bottom: 20px;
		padding-top: 20px;
	}

	table tr:last-child td {
		padding-bottom: 20px;
		padding-top: 20px;
	}
}
