.breadcrumbs {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    & > li:not(:last-child)::after {
        content: '/';
        margin-right: 5px;
        margin-left: 5px;
    }

    a {
	   color: #000;
    }
    
    .is-active a {
	   color: var(--global-link-hover-color);
        pointer-events: none;
    }
}