.header {
	padding-top: 30px;
	padding-bottom: 30px;
}

.layout-header {
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: inline-block;
	padding: 20px;
	margin-right: -45px;
	
	&:hover {
		color: #000;
	}

	@media screen and (max-width: 768px) {
	margin-right: 0;
	width: 50%;
	}
}