.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-right: 15%; }
  .pagination li {
    margin-right: 25px;
    font-size: 1.34rem; }
