.sidebar {
	margin-top: 110px;

	ul {
		list-style: none;
	}
}

.gender > li {
	margin-bottom: 50px;
	font-weight: bold;
}


.socks-height {
	margin-top: 10px;
	display: none;

	li {
		font-weight: normal;
	}

	&.is-active {
	display: block;
	}
}


.sidebar a.is-active {
	text-decoration: underline;
	color: #000;
}

.sidebar {
	@media screen and (max-width: 768px) {
		display: none;
	}
}