.grid-card-preview-product .grid-item {
	width: 50%;

}

.grid-card-preview-product .grid-item:first-child {
	margin-right: 15%;
	margin-left: 20px;
}

.card-preview-product .card-price{
	font-size: 1.34rem;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 50px;
}

.card-preview-product .card-color {
	margin-top: 50px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.card-preview-product .card-color p {
	margin-right: 60px;
	margin-bottom: 0;
}

.card-preview-product .color-list {
	display: flex;
}


input[type="radio"].color {
	border-radius: 0;
	width: 45px;
	height: 45px;
	border: 1px solid transparent;
}

input[type="radio"].yellow {
	background-color: #f2f1bb !important;
}

input[type="radio"].rose {
	background-color: #f2cbcd !important;
}

input[type="radio"].blue {
	background-color: #d2ebef !important;
}

input[type="radio"]:checked {
		border-color: #000;
		background-image: none;
}

.card-preview-product .card-value {
	display: flex;
	margin-top: 35px;
	align-items: center;
	margin-bottom: 90px;
	flex-wrap: wrap;
}

.card-preview-product .card-value p {
	margin-right: 55px;
}


.quantity {
	display: flex;
}
.quantity input {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
  width: 35px;
  font-size: 1.34rem;
  font-weight: bold;
  padding: 0;
  min-height: 35px;
}
 
.minus-btn, .plus-btn {
  width: 35px;
  min-height: 35px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  font-size: 1.34rem;
  font-weight: bold;
  padding: 0;
  color: #000;
}
.minus-btn:focus,  
.plus-btn:focus,
.quantity input:focus {
  outline:0;
}

.card-preview-product .card-buttons {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.card-preview-product .card-buttons .button:first-child {
	margin-right: 30px;

}

.card-preview-product .card-buttons .button {
		margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
	.grid-card-preview-product .grid-item {
	width: 100%;
}
	.grid-card-preview-product {
		flex-wrap: wrap;
		justify-content: center;
	}
}


