.card-overview-product {
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;
	transition: border 1s ease 0.1s;

		.card-img {
			max-height: auto;
			background: url(../../img/product1_hover.png) no-repeat 0 -20px;
			background-size: cover;
		}

		a {
			position: absolute;
			top: 15px;
			left: 15px;
			opacity: 0;
			transition: opacity 0.5s ease 0.2s;
		}

		.card-price {
			position: absolute;
			margin-top: 0;
			transform: rotate(270deg);
			font-weight: bold;
			font-size: 1.67rem;
			transform-origin: 0 0;
		}

		.card-content {
			position: absolute;
			text-align: right;
			right: 35px;
			bottom: 0;
			opacity: 0;
			transition: opacity 0.5s ease 0.1s;
		}

		.card-brand {
			font-size: 1.34rem;
			margin-bottom: 0;
		}

		.card-title {
			margin-top: 0;
		}

		&:hover .card-content,
		&:hover a {
		opacity: 1;
		}

		&:hover img {
			visibility: hidden;
		}

		&:hover {
			border-bottom: 1px solid var(--global-color);
			border-right: 1px solid var(--global-color);
		}
	}