.card-overview-product.small {
  padding-top: 25px;
  height: auto; }
  .card-overview-product.small .card-img {
    background-image: none; }
  .card-overview-product.small:hover img {
    visibility: visible; }
  .card-overview-product.small a {
    left: 85%;
    top: 30%; }
    .card-overview-product.small a:first-child {
      top: 57%; }
  .card-overview-product.small .card-price {
    bottom: 45%;
    font-size: 1.1rem; }
  .card-overview-product.small .card-brand {
    position: absolute;
    font-size: 1.1rem;
    margin-top: 0;
    top: 0;
    left: 15px; }
  .card-overview-product.small .card-title {
    position: absolute;
    margin-bottom: 0;
    font-size: 0.74rem;
    bottom: 20px;
    left: 15px; }
  .card-overview-product.small:not(:hover) .card-title,
  .card-overview-product.small:not(:hover) .card-brand,
  .card-overview-product.small:not(:hover) a {
    display: none; }
  .card-overview-product.small:hover {
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none; }
