.card-overview-product {
	position: relative;
	padding-top: 60px;
	width: 100%;
}

.card-overview-product .card-img {
	width: 100%;
	height: 100%;
}

.card-overview-product a {
	position: absolute;
	top: 15px;
	left: 15px;
}

.card-overview-product .card-price {
	position: absolute;
	bottom: 75px;
	left: -10px;
	margin-top: 0;
	transform: rotate(270deg);
	font-weight: bold;
	font-size: 1.67rem;
}

.card-overview-product .card-content {
	position: absolute;
	text-align: right;
	right: 35px;
	bottom: 0;
}

.card-overview-product .card-brand {
	font-size: 1.34rem;
	margin-bottom: 0;
}

.card-overview-product .card-title {
	margin-top: 0;
}

.card-overview-product:not(:hover) .card-content,
.card-overview-product:not(:hover) a {
	display: none;
}

.card-overview-product:hover {
	border-bottom: 1px solid var(--global-color);
	border-right: 1px solid var(--global-color);
}